@page "{handler?}"
@model SmartSnake.Pages.Menu.Index


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Menu</title>
    <link rel="stylesheet" href="~/css/Menu.css">
    <meta charset='utf-8'>
</head>
<body>
<div>
    <form class="form" method="POST">
        <h3 class="form__title">Menu</h3>
    
        <div class="alert alert-danger" style="display:none;"></div>
    
        <div  class="form__input-wrapper" data-input="input-1">
            <button asp-page="Game/Online/PlayOnline" type="submit" class="form__btn__menu">Играть онлайн</button>
        </div>
    
        <div class="form__input-wrapper" data-input="input-1">
            <button asp-page="Game/Single/GameWithBots" type="submit" class="form__btn__menu">Играть с ботами</button>
        </div>
    
        <div class="form__input-wrapper" data-input="input-1">
            <button asp-page="Game/Rating" type="submit" class="form__btn__menu">Рейтинг</button>
        </div>
    
        <div class="form__input-wrapper" data-input="input-1">
            <button type="submit" asp-page="/Account/Login" asp-page-handler="Logout"  class="form__btn__menu">Выход</button>
        </div>
    </form>
</div>
</body>
</html>