# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.SmartSnake.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Home\Desktop\SmartSnake\.idea\.idea.SmartSnake\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
