@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "SmartSnake";
}

<div class="game-zone">
    
</div>

<script src="~/js/Engine/Controllers/SnakeController.js"></script>
<script src="~/js/Engine/Models/Snake/Head.js"></script>
<script src="~/js/Engine/Models/Snake/Body.js"></script>
<script src="~/js/Engine/Models/Snake/Snake.js"></script>
<script src="~/js/Engine/Models/Food/Food.js"></script>
<script src="~/js/Engine/Models/Food/Apple.js"></script>
<script src="~/js/Engine/Models/Food/Pineapple.js"></script>
<script src="~/js/Engine/Models/Game/Interval.js"></script>
<script src="~/js/Engine/Models/Game/Board.js"></script>
<script src="~/js/PlayWithBots/Init.js"></script>