@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "SmartSnake";
}

<div class="game-zone">
    <div class="wrapper" id="restart_form">
        <form class="form" method="POST">
            <h3 class="form__title">Game over</h3>

            <div class="alert alert-danger" style="display:none;"></div>

            <div class="form__input-wrapper" data-input="input-1">
                <button type="submit" class="form__btn__menu">Restart</button>
            </div>

            <div class="form__input-wrapper" data-input="input-1">
                <button asp-page="/Index" type="submit" class="form__btn__menu">Выйти в главное меню</button>
            </div>
        </form>
    </div>
</div>

<script src="~/js/Engine/Controllers/SnakeController.js"></script>
<script src="~/js/Engine/Models/Snake/Head.js"></script>
<script src="~/js/Engine/Models/Snake/Body.js"></script>
<script src="~/js/Engine/Models/Snake/Snake.js"></script>
<script src="~/js/Engine/Models/Food/Food.js"></script>
<script src="~/js/Engine/Models/Food/Apple.js"></script>
<script src="~/js/Engine/Models/Food/Pineapple.js"></script>
<script src="~/js/Engine/Models/Game/Interval.js"></script>
<script src="~/js/Engine/Models/Game/Board.js"></script>
<script src="~/js/PlayWithBots/Init.js"></script>