@page
@model SmartSnake.Pages.Game.Online.PlayOnline

@{
    Layout = "_Layout";
    ViewData["Title"] = "Online";
}

<link rel="stylesheet" href="~/css/loading.css">
<div class="loading" id="loading">
    <div class="loading_wrapper">
    <section>
        <div class="loader">
            <span style="--i:1;"></span>
            <span style="--i:2;"></span>
            <span style="--i:3;"></span>
            <span style="--i:4;"></span>
            <span style="--i:5;"></span>
            <span style="--i:6;"></span>
            <span style="--i:7;"></span>
            <span style="--i:8;"></span>
            <span style="--i:9;"></span>
            <span style="--i:10;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:13;"></span>
            <span style="--i:14;"></span>
            <span style="--i:15;"></span>
            <span style="--i:16;"></span>
            <span style="--i:17;"></span>
            <span style="--i:18;"></span>
            <span style="--i:19;"></span>
            <span style="--i:20;"></span>
        </div>
    </section>
    <form class="form" id="loading_form" method="POST">
        <h4 class="form__title" style="margin-bottom: 150px">Поиск других игроков...</h4>
        <div class="form__input-wrapper" data-input="input-1">
            <button asp-page="/Index" type="submit" class="form__btn">Выйти в главное меню</button>
        </div>
    </form>
</div>
</div>
<div class="game-zone">
</div>

<a asp-page="Restart" asp-route-score="0" id="restart_link" style="display: none;"></a>

<script src="~/js/Engine/Models/Game/Hub.js"></script>
<script src="~/js/Engine/Models/Game/Board.js"></script>
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/Engine/Models/Player/User.js"></script>
<script src="~/js/Engine/Controllers/SnakeController.js"></script>
<script src="~/js/Engine/Models/Snake/Head.js"></script>
<script src="~/js/Engine/Models/Snake/Body.js"></script>
<script src="~/js/Engine/Models/Snake/Snake.js"></script>
<script src="~/js/Engine/Models/Food/Food.js"></script>
<script src="~/js/Engine/Models/Food/Apple.js"></script>
<script src="~/js/Engine/Models/Food/Pineapple.js"></script>
<script src="~/js/Engine/Models/Game/Interval.js"></script>
<script src="~/js/Engine/Models/Player/Player.js"></script>
<script src="~/js/PlayOnline/Init.js"></script>
