*{
    cursor: url('../sprites/курсор.png'), pointer;
}

.game-zone {
    position: relative;
    height: 3000px;
    width: 4000px;
    padding: 0;
    margin: 0;
    background-image: url("../sprites/background.png");
    background-color:rgba(0,0,0,.3);
    background-size: 100%;
}

.game-zone ::-webkit-scrollbar {width:0;}


.score
{
    position: absolute;
    font-size: 20pt;
    width: 250px;
    height: 25px;
    color: white;
    background-repeat: no-repeat;
}

.head{
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(../sprites/Head.png);
    background-repeat: no-repeat;
    border-radius: 20%;
    box-shadow: 0 0 50px #00f2ff;
}

.body {
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(../sprites/body.png);
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0 0 10px #00f2ff;
}

.enemy_head{
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(../sprites/EnemyHead.png);
    background-repeat: no-repeat;
    border-radius: 20%;
    box-shadow: 0 0 50px red;
}

.enemy_body {
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(../sprites/EnemyBody.png);
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0 0 10px red;
}



.apple{
    position: absolute;
    width: 20px;
    height: 23px;
    background-image: url(../sprites/apple.jpg);
    background-repeat: no-repeat;
    box-shadow: 0 0 50px red;
}

.pineapple{
    position: absolute;
    width: 26px;
    height: 40px;
    background-image: url(../sprites/Pineapple.png);
    background-repeat: no-repeat;
    box-shadow: 0 0 50px yellow;
}