.game-zone {
    position: relative;
    height: 3000px;
    width: 4000px;
    padding: 0;
    margin: 0;
    background-image: url("../sprites/background.png");
    background-size: 100%;
}

.game-zone ::-webkit-scrollbar {width:0;}


.score
{
    position: absolute;
    font-size: 20pt;
    width: 250px;
    height: 25px;
    color: white;
    background-repeat: no-repeat;
}

.head{
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(../sprites/Head.png);
    background-repeat: no-repeat;
}

.body {
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(../sprites/body.png);
    background-repeat: no-repeat;
}

.enemy_head{
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(../sprites/EnemyHead.png);
    background-repeat: no-repeat;
}

.enemy_body {
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(../sprites/EnemyBody.png);
    background-repeat: no-repeat;
}



.apple{
    position: absolute;
    width: 20px;
    height: 23px;
    background-image: url(../sprites/apple.jpg);
    background-repeat: no-repeat;
}

.pineapple{
    position: absolute;
    width: 26px;
    height: 40px;
    background-image: url(../sprites/Pineapple.png);
    background-repeat: no-repeat; 
}