@page
@model SmartSnake.Pages.Account.Registration

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>HIRGKPROGPROPGR</h1>
</div>
</body>
</html>