@page
@model SmartSnake.Pages.Game.Restart

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Restart</title>
    <link rel="stylesheet" href="~/css/Menu.css">
</head>
<body>
<div>
    <form class="form" id="restart_form" method="POST">
        <h2 class="form__title">Game over</h2>
        <h4 class="form__title">Рекорд: @Model.BestScore</h4>
        <h4 class="form__title">Ваш счет: @Model.Score</h4>
        <div class="alert alert-danger" style="display:none;"></div>

        <div class="form__input-wrapper" data-input="input-1">
            <button asp-page="GameWithBots" type="submit" class="form__btn__menu">Restart</button>
        </div>

        <div class="form__input-wrapper" data-input="input-1">
            <button asp-page="/Index" type="submit" class="form__btn__menu">Выйти в главное меню</button>
        </div>
    </form>
</div>
</body>
</html>