<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmartSnake</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Controllers/SnakeController.js"></script>
    <script src="js/Models/Snake/Head.js"></script>
    <script src="js/Models/Snake/Body.js"></script>
    <script src="js/Models/Snake/Snake.js"></script>
    <script src="js/Models/Food/Apple.js"></script>
    <script src="js/Models/Game/Interval.js"></script>
    <script src="js/Models/Game/Board.js"></script>
    <script src="~/js/main.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
